<section>
  <h1>Definition</h1>
  <p>Git is a free and open source <em>distributed</em> version control system designed to handle everything from small to very large projects with speed and efficiency.</p>

</section>
