<section>

  <h1>VCS evolution</h1>

  <small>(from SVN to GIT)</small>

  <p>Centralized to distributed</p>
  <p>About branching model</p>

  <p>Continue the battle at: <a href="https://svnvsgit.com/" target="_blank">svnvsgit</a></p>

</section>
