<section>
  <h2><a href="https://git-scm.com/docs/git-clone" target="_blank">git clone</a></h2>
  <p>Create a local git repo from an existing repo</p>
  <small>Remember: git is <em>distributed</em></small>

<%- include('./sh-code', {
  shFile: './example-clone.sh'
}) %>

</section>
