<section>
  <h2><a href="https://git-scm.com/docs/git-push" target="_blank">git push</a></h2>

  <p>Share your bugs with everyone!</p>

  <img src="images/pushing.png" />

</section>

<section>
  <h2><a href="https://git-scm.com/docs/git-push" target="_blank">git push</a></h2>

  <p>Share your bugs with everyone!</p>

  <%- include('./sh-code', {
    shFile: '../examples/git-push.sh'
  }) %>

</section>
