<section>
  <h1>Working tree</h1>

  <small>File that git can track. has a <em>.git</em> directory at the top level</small>

  <h4 class="fragment">How git see your files</h4>

  <p class="fragment">Untracked files (Created but not added)</p>
  <p class="fragment">Tracked files (Previously added)</p>
  <p class="fragment">Working copy (Tracked files with changes)</p>
  <p class="fragment">Stage area, aka index (Tracked files Added / Removed)</p>
  <p class="fragment">Stash (saved working copies)</p>
</section>
