<section>
  <!-- <img src="images/trees.png" /> -->


  <h2><a href="https://git-scm.com/docs/git-init" target="blank">git init</a></h2>

  <p>creates a working tree</p>
</section>

<section>

  <h2><a href="https://git-scm.com/docs/git-add" target="blank">git add</a></h2>

  <p>Add file contents to the index.</p>

  <ul>
    <li>Untracked File? <i class="fa fa-arrow-right"></i> now is tracked and prepared to be commited</li>
    <li>Tracked File? <i class="fa fa-arrow-right"></i> prepared to be commited</li>
  </ul>
</section>

<section>

  <h2><a href="https://git-scm.com/docs/git-commit" target="blank">git commit</a></h2>

  <p>Record changes to the repository (local)</p>

  <ul>
    <li>Saves Index operations</li>
    <li>Has unique ID (sha1)</li>
  </ul>
</section>

<section>

  <h2><a href="https://git-scm.com/docs/git-rm" target="blank">git rm</a></h2>

  <p>Remove files from the working tree and from the index</p>

  <p>To remove only from tracked files, keeping the file in disc as Untracked file: <code>git rm --cached</code></p>

</section>


<section>

  <h2><a href="https://git-scm.com/docs/git-diff" target="blank">git diff</a></h2>

  <p>Show changes between commits, commit and working tree, etc</p>

  <p><code>git diff</code>: show changes from index and working copy</p>
  <p><code>git diff HEAD</code>: show changes since last commit and working copy</p>

</section>
