<section>
  <h2>GIT FLOW</h2>

  <small style="width: 70%">git-flow are a set of git extensions to provide high-level repository operations for <a href="http://nvie.com/posts/a-successful-git-branching-model/" target="_blank">Vincent Driessen's branching model</a></small>

  <p>Apply software development workflow to git</p>
</section>
