<section>
  <h2>GIT FLOW: feature </h2>

  <small>New things (~fixes)</small>

  <table>
    <tr>
      <th>Branch off from</th>
      <td>develop</td>
    </tr>
    <tr>
      <th>Merge back into</th>
      <td>develop</td>
    </tr>
    <tr>
      <th>Naming convention</th>
      <td>feature/*</td>
    </tr>
  </table>

<%- include('./sh-code', {
  shFile: '../examples/git-flow-feature.sh'
}) %>

</section>
