<section>
  <h2><a href="https://git-scm.com/docs/git-pull" target="_blank">git pull</a></h2>
  <h4>Embrace those bugs!</h4>

  <img src="images/pulling.jpg" />
</section>


<section>
  <h2><a href="https://git-scm.com/docs/git-pull" target="_blank">git pull</a></h2>
  <h4>Embrace those bugs!</h4>

  <pre id="intro-code">
<code class="bash">
  git pull
  </code></pre>

</section>
