<section>
  <h2><a href="https://git-scm.com/docs/git-tag" target="_blank">git tag</a></h2>

  <p>Create, list, delete or verify a tag object signed with GPG</p>

<%- include('./sh-code', {
  shFile: '../examples/git-tag.sh'
}) %>

</section>
