<section>
  <h2>Operations</h2>

  <div class="fragment">
    <h4>git push</h4>

    <img src="images/pushing.png" />
  </div>

  <div class="fragment">
    <h4>git pull</h4>
    <img src="images/pulling.jpg" />
  </div>

</section>
