<section>
  <h1>Git can help you!</h1>
  <p>Find when a bug start (bisect)</p>
  <p>Find who introduce the bug (blame)</p>
  <p>Handle changelog (standard-version)</p>
  <p>Force clean code (hooks)</p>
</section>
