<section>
  <h2>Multiple remotes</h2>

<pre id="intro-code">
<code class="bash">
git remote set-url --add \
  --push origin http://remote1.git.com/xxxx.git
git remote set-url --add \
  --push origin http://remote2.git.com/xxxx.git
</code></pre>

</section>
