<section>
  <h2>Merge</h2>

  <table>
   <thead>
     <tr>
      <th>Pros</th>
      <th>Cons</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td>Complete traceability</td>
       <td>Bisect almost impossible</td>
     </tr>
     <tr>
       <td></td>
       <td>Insane history</td>
     </tr>
   </tbody>
  </table>

  <img src="images/merge-trees.png">
</section>
