<section>
  <h2>Rebase</h2>

  <table>
   <thead>
     <tr>
      <th>Pros</th>
      <th>Cons</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td>Code history remains flat and readable</td>
       <td>May involve history rewritting</td>
     </tr>
     <tr>
       <td>Bisect friendly</td>
       <td>Context is lost</td>
     </tr>
     <tr>
       <td>Revert friendly</td>
       <td>Multiple conflict resolutions (if no squash)</td>
     </tr>
   </tbody>
  </table>
</section>
