<section>

  <pre><code class="bash"><span style="color: blue">bls</span>@<span style="color:red">localhost</span>> whoami
Luis Lafuente Morales
<span style="color: blue">bls</span>@<span style="color:red">localhost</span>> cat ~/cv
20 years coding
mostly: C/C++/C#/PHP/JS

lately
  TypeScript
    front (Angular)
    back (node/express/mongo)
  .Net
    Unity
  Bash
</code></pre>


</section>
