<section data-background="/images/git-logo.png" data-background-size="300px">
  <h2>Welcome</h2>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <pre><code class="bash">
  git init
  </code></pre>

</section>
